@import "tailwindcss";

:root {

  --primary-color: #2E7D5B;        
  --primary-dark: #1F5A42;         
  --primary-light: #4C9A79;        

  --secondary-cream: #F8F6F1;      
  --secondary-beige: #EDE6DA;    
  --soft-sand: #DCC9A6;            


  --accent-gold: #C6A75E;         
  --accent-hover: #B8944D;


  --light-gray: #E5E5E5;
  --medium-gray: #9E9E9E;
  --dark-text: #1B1B1B;

  --dark-background: #0F1E25;
  --dark-card: #1C2F36;


  --success-green: #43A047;
  --error-red: #E53935;
  --background: #0a120b;
}



/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
